<% if user_signed_in? %>
  <h1>チェックアイテム一覧</h1>
  <table class="striped">
    <thead>
      <tr>
        <th>商品名</th>
        <th>最低価格</th>
        <th>最高価格</th>
        <th>編集</th>
        <th>削除</th>
      </tr>
    </thead>
    <tbody>
      <%= render @check_items %>
    </tbody>
  </table>
<% else %>
  <h1>Please Log in</h1>
<% end %>
