<p>アカウント名: <%= @resource.email %></p>

<p>以下のURLをクリックし、パスワードを再設定してください。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>万が一、このメールにお心当たりの無い場合は、どなたかがメールアドレスを間違って入力してしまった可能性があります。</p>
<p>※このメールに心あたりが無い場合は、破棄してください。</p>
